version: 2
jobs:
  build:
    docker:
    - image: circleci/php:7.1-cli

    working_directory: ~/repo

    steps:
    - checkout

    - restore_cache:
        keys:
        - v1-dependencies-{{ checksum "composer.json" }}

    - run: composer install -n --prefer-dist

    - save_cache:
        paths:
        - ./vendor
        key: v1-dependencies-{{ checksum "composer.json" }}

    - run: bin/cs
    - run: bin/stan
    - run: vendor/bin/tester tests -C --coverage coverage.xml --coverage-src src
    - run: bash <(curl -s https://codecov.io/bash) -t df85f2a9-bd16-49f2-bfb3-64f092dcca7a

    - store_artifacts:
        path: /home/circleci/repo/coverage.xml
