extensions:
	fapiClient: Fapi\FapiClient\DI\FapiClientExtension
	httpClient: Fapi\HttpClient\Bridges\Tracy\BarHttpClient

fapiClient:
	username: fapi
	password: fapi

httpClient:
	type: 'guzzle'
	logging: true
	bar: true
