extensions:
	fapiClient: Fapi\FapiClient\DI\FapiClientExtension

fapiClient:
	username: fapi
	password: fapi

services:
	- Fapi\HttpClient\LoggingFormatters\JsonLoggingFormatter

	logger: Psr\Log\NullLogger

	httpClient:
		factory: Fapi\HttpClient\CurlHttpClient
		autowired: false

	loggingHttpClient:
		factory: Fapi\HttpClient\LoggingHttpClient(@httpClient)
		autowired: false

	barHttpClient:
		factory: Fapi\HttpClient\Bridges\Tracy\BarHttpClient(@loggingHttpClient)
